* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: #ddd;
}

#container {
    width: 75%;
    background: white;
    min-height: 100vh;
    margin: 0 auto;
    padding: 32px 24px;
    border-left: 20px groove red;
    border-right: 20px groove red;
    overflow: hidden;
}

#title {
    text-align: center;
    padding: 0;
    margin: 0;
}

#form-card {
    width: 100%;
    /* min-height: 350px; */
    box-shadow: 0 0 10px#ddd;
    border: 1px solid #f5f5f5;
    border-radius: 16px;
    margin: 24px 0;
    padding: 24px;
}

#marksheet-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#horizontal {
    display: flex;
    gap: 24px;

}

#form-group {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 6px;
}

#marksheet-form label {
    font-size: 18px;
    font-weight: bold;
}

#marksheet-form input, #choose-gender {
    border: 1px solid #ccc;
    padding: 16px;
    flex-grow: 1;
}

#add-subjects {
    border: none;
    background: dodgerblue;
    color: white;
    width: fit-content;
    padding: 16px 24px;
    border-radius: 5px;
    font-size: 16px;
}

table {
    margin-top: 32px;
}

th,td {
    border: 1px solid #ccc;
    padding: 8px;
}

#generate {
    border: none;
    background: deeppink;
    color: white;
    width: fit-content;
    padding: 16px 24px;
    border-radius: 5px;
    font-size: 16px;
    margin-left: auto;
}

#dynamic-area {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#school-name {
    padding: 0;
    margin: 0;
    margin-bottom: 8px;
}

#copyright {
    text-align: center;
    margin-top: 24px;
    font-size: 22px;
}

#warning {
    display: block;
    text-align: center;
}

.delete-button {
    border: none;
    background: #E96432;
    color: white;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}